* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border: 1px;
}


body{
    text-align: center;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, rgb(128, 0, 128), rgb(223, 223, 19));
    height: 100vh;
    position: relative;
    font-family: 'Oswald', sans-serif;
}

.main-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(83, 34, 83);
    font-size: 250%;
    animation: moveHeader 1s ease-in-out .5s;
}

p {
    color: rgb(211, 211, 211);
    display:block;
    margin: 15px;
    animation: sprinkleParagraph 2s;
}


a {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(211, 211, 211);
    border-radius: 100px;
    padding: 10px 20px;
    text-transform: capitalize;
    color:rgb(83, 34, 83);
    font-size: 100%;
    box-shadow: 5px 5px 5px;
}

a:hover{
    color:rgb(44, 15, 44);
    background-color: rgb(134, 130, 130);
    transform: translateY(-3px);
}



/* Animations  */

@keyframes moveHeader {

    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    50% {
        transform: translateX(50px)

    }

    100% {
        transform: translate(0);

    }

}

@keyframes sprinkleParagraph {

    0% {
        opacity: 0;

    }

    50% {
        opacity: .5;
    }


    100% {
        opacity: 1;
    }


}