body{
    width: 75%;
    margin: auto;
    background-color: lightgray;
    text-align: center;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px whitesmoke;
}

p {
    font-family: sans-serif;
}